html, body, input {
	color: #eee;
	background: #111;
}
canvas {
	border: 1px solid #666;
	margin: 12px;
}
input {
	border-color: #000;
}
li, a {
	color: #090;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}